@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');

body{
  background: linear-gradient(to bottom right, #F8D353, #FF5C5A);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Playfair Display', serif;
}
.textDiv{
  font-size: 20px;
  background: #FFE4C4;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  height: 112px;
  width: 175px;
  text-align: center;
  margin: 3px;
  box-shadow: 0 3px 20px rgba(0,0,0,.25), inset 0 2px 0 rgba(0,0,0,.1), inset 0 2px 0 rgba(0,0,0,.1);
  clear: both;
}
.clicked{
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  height: 112px;
  width: 175px;
  text-align: center;
  margin: 3px;
  box-shadow: inset 0 0 20px rgba(0,0,0,.2), 0 2px 0 rgba(255,255,255,.4),inset 0 2px 0 rgba(0,0,0,.1);
  clear: both;
}
.myButton{
  width: 100%;
  height: 28%;
  border-radius: 9px 9px 0 0;
  background: linear-gradient(180deg, #FF3B30 0%, #FF2D55 100%);
  text-align: center;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}
.myButton:hover{
  box-shadow: inset 11px 26px 300px -1px rgba(74,48,74,1);
}
.green{
  background: #00FF00;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  height: 112px;
  width: 175px;
  text-align: center;
  margin: 3px;
  box-shadow: 0 3px 20px rgba(0,0,0,.25), inset 0 2px 0 rgba(0,0,0,.1), inset 0 2px 0 rgba(0,0,0,.1);
  clear: both;
  font-size: 20px;
}
.red{
  background: #FF4500;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  height: 112px;
  width: 175px;
  text-align: center;
  margin: 3px;
  box-shadow: 0 3px 20px rgba(0,0,0,.25), inset 0 2px 0 rgba(0,0,0,.1), inset 0 2px 0 rgba(0,0,0,.1);
  clear: both;
  font-size: 20px;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0, .8);
  display: none;
}
.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
}
.btn_close {
  width: 290px;
  height: 49px;
  background: linear-gradient(180deg, #FF3B30 0%, #FF2D55 100%);
  box-shadow: 0px 5px 20px rgba(255, 59, 48, 0.5);
  text-align: center;
  border-radius: 7px;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  outline: none;
  margin: 50px 0 50px 100px;
  cursor: pointer;
}
.btn_delete{
  width: 290px;
  height: 49px;
  background: linear-gradient(180deg, #FF3B30 0%, #FF2D55 100%);
  box-shadow: 0px 5px 20px rgba(255, 59, 48, 0.5);
  text-align: center;
  border-radius: 7px;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  outline: none;
  margin: 50px 0 50px 100px;
  cursor: pointer;
}
.wrapperInfo{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px 0;
}
.btn_style{
  width: 240px;
  height: 49px;
  background: linear-gradient(180deg, #FF3B30 0%, #FF2D55 100%);
  box-shadow: 0px 5px 20px rgba(255, 59, 48, 0.5);
  text-align: center;
  border-radius: 7px;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  margin: 0 3%;
}
.btn_style:hover{
  box-shadow: inset 11px 26px 300px -1px rgba(74,48,74,1);
}
header{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
h1{
  font-size: 63px;
  color: #FFFFFF;
  margin: 0;
}
.informations{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #fff;
  height: fit-content;
}
.btn_All{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
}
.info_header{
  font-size: 33px;
  color: #FFFFFF;
  margin: 0;
}
.p_ifo{
  font-size: 30px;
  color: #FFFFFF;
  margin: 0;
}
.p_new{
  margin: 0;
  font-size: 23px;
  font-weight: bold;
  color: #000000;
}
.main{
  display: flex;
  padding: 0 30px;
}
.wrapperPlain{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal_btn{
  display: flex;
}
.modal_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control_block{
  display: flex;
  flex-direction: column;
  width: 50%;
}
